.fundoCadastro {
    background-image: url(https://ik.imagekit.io/ghc9vhgb1/-a-a.avif?updatedAt=1705623532397);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}