.fundoLogin {
    background-image: url(https://ik.imagekit.io/ghc9vhgb1/ee.avif?updatedAt=1705622617552);
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}